body {
    margin: 0;
    font-family: Arial, sans-serif;
}

.navbar {
    height: 70px;

    display: flex;
    justify-content: space-between;
    align-items: center;

    padding: 0 40px;

    background-color: #215E21;
}

.logo a {
    color: white;
    text-decoration: none;
    font-size: 30px;
    font-weight: bold;
}

.menu {
    display: flex;
    gap: 25px;
}

.menu a {
    color: white;
    text-decoration: none;
    font-size: 18px;
}

.menu a:hover {
    color: #dddddd;
}