.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;

    padding: 20px 40px;

    background-color: #215E21;
}

.logo a {
    color: white;
    text-decoration: none;
    font-size: 28px;
    font-weight: bold;
}

.menu {
    display: flex;
    align-items: center;
    gap: 20px;
}

.menu a {
    color: white;
    text-decoration: none;
    font-weight: bold;
}

.menu a:hover {
    color: #FFD54F;
}

.menu button {
    background-color: white;
    color: #215E21;

    border: none;
    border-radius: 6px;

    padding: 8px 14px;

    cursor: pointer;

    font-weight: bold;
}

.menu button:hover {
    background-color: #f2f2f2;
}