.post-card {

    background: white;

    border: 1px solid #e9e9e9;

    border-radius: 14px;

    padding: 24px;

    margin-bottom: 20px;

    transition: 0.25s;

    box-shadow: 0 3px 12px rgba(0,0,0,0.05);

}

.post-card:hover {

    transform: translateY(-4px);

    box-shadow: 0 10px 25px rgba(0,0,0,0.12);

}

.post-title {

    margin-bottom: 16px;

}

.post-title a {

    text-decoration: none;

    color: #215E21;

    font-size: 24px;

    font-weight: bold;

}

.post-title a:hover {

    color: #2f8f2f;

}

.post-info {

    color: #666;

    font-size: 15px;

    margin: 8px 0;

}

.post-header{

    display:flex;

    justify-content:space-between;

    align-items:center;

    margin-bottom:15px;

}

.post-body{

    display:flex;

    gap:35px;

    flex-wrap:wrap;

}

.status{

    padding:6px 12px;

    border-radius:20px;

    font-size:13px;

    font-weight:bold;

}

.status.open{

    background:#EAF7EA;

    color:#2E8B57;

}

.status.closed{

    background:#FDECEC;

    color:#D93025;

}